@import url('http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext');
body, html, input, textarea {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    margin: 0;
}

nav {
    align-items: center;
    background-color: lightblue;
    display: flex;
    height: 70px;
}

#media-icons {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.svg-medium {
    height: 28px;
    width: 28px;
    cursor: pointer;
    padding: 10px;
}

.row {
    display: flex;
    flex-direction: row;
}